.project
.classpath
.settings
build
target
release.properties
pom.xml.releaseBackup
*.iml
.idea
bin
*.class
*.jar
*.war
*.ear
.DS_Store
routes.yml
distrib
rebel.xml
rebel-remote.xml
target/
*.class
distrib/
classes*/
testClasses/
out/
plugins/
test/
testfiles/
libswt/
docs/
docsdev/
aspose/
